<section class="petition">
    <header class="petition-header">
        <h1 class="petition-title">Stop Plastic</h1>
    </header>

    <footer class="petition-footer">
        <form action="/login" method="POST">

            <label>Your Email</label>
            <input type="email" name="loginEmail" size="35" />
            <br />

            <label>Password</label>
            <input type="password" name="loginPassword" size="35" />
            <br />
            <button class="button button-primary" type="submit">Login</button>
            <br />
        </form>
    </footer>
</section>