<header>
    <h1>Stop Disposable Plastic!</h1>
</header>

<div>
    <section id="form-area">
      <form action="/petition" method="POST">
          <label> ✨ First Name: ✨</label>
          <input type="text" name="firstName" />
          <br>
          <label> ✨ Last Name: ✨</label>
          <input type="text" name="lastName" />
          <br>
          {{!-- <label> 👾 Your Email: 👾 </label>
          <input type="email" pattern=".+@globex\.com" size="30" required> --}}
          <label> ✨ Signature: ✨</label>
          <br>
          <canvas id="signature-canvas" width: "930px">
              <input id="input-sig" type="hidden" name="signature" value="default value"/>
          </canvas>
              <br>
          <button type="submit">Sign Petition</button>
          <br>
      </form>
    </section>
 </div>  



