
<div>
    <section id="form-area">
      <form action="/petition" method="POST">
          <label> ✨ Signature: ✨</label>
          <br>
          <canvas id="signature-canvas" width: "930px">
              <input id="input-sig" type="hidden" name="signature" value="default value"/>
          </canvas>
              <br>
          <button type="submit">Sign Petition</button>
          <br>
      </form>
    </section>
 </div>  



