<section class="petition">
    <header class="petition-header">
        <h1 class="petition-title">Tell Us More About Yourself</h1>
    </header>

    <footer class="petition-footer">
        <form action="/profile" method="POST">

            <label>Age</label>
            <input type="text" name="age" size="35" />
            <br />
            <label>City</label>
            <input type="text" name="city" size="35" />
            <br />
            <label>Home Page</label>
            <input type="text" name="homepage" size="35" />
            <br />
            <button
                class="button button-primary"
                type="submit"
            >Continue</button>
            <br />

        </form>
    </footer>
</section>