<section class="petition">

    <header class="petition-header">
        <h1 class="petition-title">Stop Plastic</h1>
        <br />
        <h5>If you are already a member, please
            <a href="/login">Login Here</a></h5>

    </header>

    <footer class="petition-footer">
        <form action="/register" method="POST">
            <label>First Name</label>
            <input type="text" name="firstName" size="35" />
            <br />

            <label>Last Name</label>
            <input type="text" name="lastName" size="35" />
            <br />

            <label>Your Email</label>
            <input type="email" name="email" size="35" />
            <br />

            <label>Password</label>
            <input type="text" name="password" size="35" />
            <br />
            <button class="button button-primary" type="submit">Register Now</button>
            <br />
        </form>

    </footer>

</section>
<article>
    <h2>Facts about disposable plastic</h2>
    <p>Single use plastics are extremely harmful for us and the environment,
        just only 9% of the worlds total 9 billion tonnes of single use plastic
        has been recycled. Most end up in landfills, oceans, or waterways.
    </p>

    <p>These plastics take thousands of years to biodegrade, and the chemicals
        used in their production are toxic which can harm the lungs and nervous
        system if ingested- which is entirely possible as micro-plastics
        transfer to animal tissue. They choke and block the stomachs of marine
        life such as dolphins and turtles, which has major impacts on the
        endangerment of these particular marine life, as turtles are now
        classified as critically endangered.
    </p>
</article>