<section class="petition">

    <header class="petition-header">
        <h1 class="petition-title">Stop Plastic</h1>
        <br />
        <h5>If you are already a member, please
            <a href="/login">Login Here</a></h5>

    </header>

    <footer class="petition-footer">
        <form action="/register" method="POST">
            <label>First Name</label>
            <input type="text" name="firstName" size="35" />
            <br />

            <label>Last Name</label>
            <input type="text" name="lastName" size="35" />
            <br />

            <label>Your Email</label>
            <input type="email" name="email" size="35" />
            <br />

            <label>Password</label>
            <input type="password" name="password" size="35" />
            <br />
            <button class="button button-primary" type="submit">Register Now</button>
            <br />
        </form>

    </footer>

</section>