<section class="petition">

    <h1>Thanks for your signature!</h1>
    <h2>you can also Edit your Profile</h2>
    <h2>Choose to delete your data</h2>
    <h2>Check out all signers!</h2>
    {{#sigArray}}

        <img src="{{signature}}" alt="" />

    {{/sigArray}}

</section>

<style>
    .petition { display: flex; flex-direction: column-reverse; height: 100vh;
    padding: 1em; box-sizing: border-box; color: rgb(8, 8, 8); background:
    url(/naja-bertolt-jensen-oxntvdNJb9o-unsplash.jpg) center center no-repeat;
    background-size: cover; align-items: center; justify-content: center;
    align-content: stretch; } img { background-color: rgb(215, 222, 228);
    border: 3px; border-radius: 15px; }

</style>