
    <h1>Please join us and sign petition</h1>
    <section>
        <h2>Facts about disposable plastic:</h2>
        <p>Single use plastics are extremely harmful for us and the environment,
            just only 9% of the worlds total 9 billion tonnes of single use
            plastic has been recycled. Most end up in landfills, oceans, or
            waterways.
        </p>

        <p>These plastics take thousands of years to biodegrade, and the
            chemicals used in their production are toxic which can harm the
            lungs and nervous system if ingested- which is entirely possible as
            micro-plastics transfer to animal tissue. They choke and block the
            stomachs of marine life such as dolphins and turtles, which has
            major impacts on the endangerment of these particular marine life,
            as turtles are now classified as critically endangered.</p>

    </section>

    <section>
      <form action="/petition" method="POST">
          <label> ✨ First Name: ✨</label>
          <input type="text" name="firstName" />
          <br>
          <label> ✨ Last Name: ✨</label>
          <input type="text" name="lastName" />
          <br>
          {{!-- <label> 👾 Your Email: 👾 </label>
          <input type="email" pattern=".+@globex\.com" size="30" required> --}}
          <label> ✨ Signature: ✨</label>
          <canvas id="signature-canvas">
              <input
                  type="hidden"
                  name="signature"
                  value="default value"
              /></canvas>
          <button type="submit">Sign Petition</button>
          <br>
      </form>
    </section>



    
{{!-- <script defer src="{{drawCanvasScript}}"></script> --}}
